/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Bloqueia o scroll horizontal */
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Links da navbar para desktop */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  transition: transform 0.8s ease; /* Tempo de transição aumentado */
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Botão do menu hambúrguer para mobile */
.hamburger {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  display: none;
}

/* Menu lateral deslizante para mobile */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #3498db;
  flex-direction: column;
  padding-top: 60px;
  z-index: 5;
}

/* Configurações do menu lateral (versão mobile) */
@media (max-width: 768px) {
  /* Exibe o botão de hambúrguer no mobile */
  .hamburger {
    display: block;
  }

  /* Estilização do menu deslizante */
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #3498db;
    flex-direction: column;
    padding-top: 60px;
    transform: translateX(100%); /* Inicia fora da tela à direita */
  }

  /* Menu visível deslizando da direita para esquerda */
  .show-menu {
    transform: translateX(0);
  }

  /* Menu escondido deslizando da esquerda para direita */
  .hide-menu {
    transform: translateX(100%);
  }
}
