/* ============================ */
/* Navbar                       */
/* ============================ */
.navbar {
    background-color: var(--blue1);
    color: var(--white);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* ============================ */
/* Logo                         */
/* ============================ */
.logo {
    position: relative;
    top: 3vh;
}

.logo img {
    height: 15vh;
}

/* ============================ */
/* Links da Navbar para Desktop */
/* ============================ */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.8s ease;
}

.nav-links li a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.5vh;
}

/* ============================ */
/* Botão do Menu Hambúrguer para Mobile */
/* ============================ */
.hamburger {
    cursor: pointer;
    font-size: 6vh;
    color: var(--white);
    display: none; /* Oculto no desktop */
}

/* ============================ */
/* Menu Lateral Deslizante para Mobile */
/* ============================ */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--blue1);
    flex-direction: column;
    padding-top: 60px;
    z-index: 5;
}

/* ============================ */
/* Campo de Busca               */
/* ============================ */
.search {
    display: flex;
    align-items: center;
    margin: 0 10px;
    flex-grow: 1;
}

.search label {
    position: relative;
    width: 100%;
}

.search input {
    height: 36px;
    border: none;
    border-radius: 20px;
    padding: 0 40px 0 30px;
    font-size: 16px;
    width: calc(100% - 30px);
}

.search ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
    pointer-events: none;
}

.search ::placeholder {
    color: var(--black);
}

/* ============================ */
/* Linha Horizontal             */
/* ============================ */
hr {
    margin: 0;
    background-color: var(--yellow);
    height: 2px;
    border: none;
}

/* ============================ */
/* Configurações do Menu para Mobile */
/* ============================ */
@media (max-width: 1500px) {
    /* Exibe o botão hambúrguer no mobile */
    .hamburger {
        display: flex;
        align-items: center;
        font-size: 6vh;
        color: var(--white);
    }

    /* Ajustes de Padding da Navbar */
    .navbar {
        padding: 5px 10px;
    }

    /* Menu Lateral Deslizante */
    .nav-links {
        position: fixed;
        top: 6vh;
        right: 0;
        width: 40vw;
        height: 100vh;
        background-color: var(--blue1);
        flex-direction: column;
        padding-top: 10px;
        transform: translateX(100%); /* Inicia fora da tela à direita */
    }

    /* Tamanho de Letra dos Links para Mobile */
    .nav-links li a {
        font-size: 3vw;
    }

    /* Ajuste da Largura do Campo de Busca para Mobile */
    .search input {
        width: calc(100% - 70px);
    }

    /* Classe para Menu Visível */
    .show-menu {
        transform: translateX(0);
    }

    /* Classe para Menu Escondido */
    .hide-menu {
        transform: translateX(100%);
    }
}
