/* Estilo principal */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.conteiner {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
}

.main {
    position: absolute;
    width: 100%;
}

.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 10px; 
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    height: 80px; 
}

.logo {
    position: relative;
    top: 40px; 
}

.logo img {
    height: 120px;
}

.shearch
{
    position: relative;
    width: 600px;
    margin: 0;
}

.shearch label
{
    position: relative;
    width: 100%;
}

.shearch input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--white);
    background: transparent;
}

.shearch label input::placeholder
{
    color: var(--white);
}

.shearch ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
    color: var(--white);
}

.taggle {
    display: flex;
    align-items: center; /* Centraliza o ícone verticalmente */
    padding-right: 20px; /* Mantém o ícone do menu à direita */
}

.taggle ion-icon {
    font-size: 30px;
    cursor: pointer;
}

/* Adiciona um padding-top no body para evitar sobreposição do conteúdo */
body {
    padding-top: 60px; /* Ajuste o valor conforme necessário */
}
