:root{
    --blue1: #043871;
    --blue2: #034BAA;
    --white: #FFFFFF;
    --yellow: #E3C62C;
    --black1: #000000;
    --red: #B71E22;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
